.conteiner {
    font-family: 'Roboto', sans-serif;
    display: block;
}

.one {
    background: yellow;
}

.two {
    background: greenyellow;
}

.three {
    border: 2px solid red;
}

.out-1 {
    background: salmon;
}