.conteiner {
    font-family: 'Roboto', sans-serif;
    display: block;
    text-align: center;
}

.one {
    background: yellow;
}

.two {
    background: greenyellow;
}

.three {
    border: 2px solid red;
}

/* .out {

    font-family: monospace;
} */