.container {
  font-family: "Roboto", sans-serif;
  display: block;
  text-align: center;
  overflow: hidden;
  /* width: 200px */
  /* background: linear-gradient(45deg, #eecfba, #c5dde8); */
}

.box {
  text-align: center;
  width: 75px;
  height: 75px;
  /* float: left; */
  border: 3px solid blue;
  margin: 5px;
  font-family: "Roboto", sans-serif;
}

hr {
  width: 1000px;
  clear: both;
}
input {
  display: block;
  margin: 25px;
}
